/* Set up the container */
.container {
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 5 auto;
  padding: 10px;
  border: 5px solid #292929;
}

/* Control the left side */
.controls {
  width: 50%;
  padding: 10px;
}

/* Control the right side (image) */
.image {
  width: 100%;
  padding: 10px;
}

