/* Set up the container */
.container {
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 5 auto;
  padding: 10px;
  border: 5px solid #292929;
}

/* Control the left side */
.controls {
  width: 50%;
  padding: 10px;
}

/* Control the right side (image) */
.image {
  width: 100%;
  padding: 10px;
}

.image img {
  border-radius: 8px;
  width: 800px;
}

#watermeter_job_schedule {
  width: 4em;
}

input[type="range"] {
  width:200px;
}

p,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}
