/* Set up the container */
.container {
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 5 auto;
  padding: 10px;
}

/* Control the left side */
.controls {
  width: 50%;
  padding: 10px;
}

/* Control the right side (image) */
.image {
  width: 100%;
  padding: 10px;
}

.controls fieldset {
  border-radius: 8px;
}

.image img {
  border-radius: 8px;
  width: 1000px;
}

#watermeter_job_schedule {
  width: 4em;
}

#picamera_photo_width {
  width: 4em;
}

#picamera_photo_height {
  width: 4em;
}

#picamera_buffer_count {
  width: 4em;
}

input[type="range"] {
  width: 250px;
  align-self: right;
}

#picamera_image_focus_position {
  direction: rtl
}

div,
button,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}


#preroi-button-editor {
  background-color: rgb(255, 0, 0);
}

#pregaugeroi-button-editor {
  background-color: rgb(255, 140, 0);
}

#postroi-button-editor {
  background-color: rgb(0, 0, 255);
}

#postgaugeroi-button-editor {
  background-color: rgb(0, 140, 255);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}