/* Set up the container */
.container {
  width: 1500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  margin: 5 auto;
  padding: 10px;
}

/* Control the left side */
.controls {
  width: 50%;
  padding: 10px;
}

/* Control the right side (image) */
.image {
  width: 100%;
  padding: 10px;
}

.image img {
  border-radius: 8px;
  width: 800px;
}

#watermeter_job_schedule {
  width: 4em;
}

input[type="range"] {
  width: 200px;
}

#picamera_image_focus_position {
  direction: rtl
}

div,
button,
label {
  font:
    1rem 'Fira Sans',
    sans-serif;
}

input {
  margin: 0.4rem;
}


#preroi-button-editor {
  background-color: rgb(255, 0, 0);
}

#pregaugeroi-button-editor {
  background-color: rgb(255, 140, 60);
}

#postroi-button-editor {
  background-color: rgb(0, 0, 255);
}

#postgaugeroi-button-editor {
  background-color: rgb(0, 140, 255);
}