<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div class="container">
    <div class="controls">
            <form action="{{ url_for('update_config') }}" method="post" id="roi-form">
                <div id="roi-fields">
                <b>NUMBER AREA</b><br>
                    {% for roi in rois %}
                        <div id="roi_{{ loop.index }}">
                            <label for="roi_{{ loop.index }}">AREA {{ loop.index }}:</label><br>
                            <input type="text" id="roi_{{ loop.index }}_x" name="roi_{{ loop.index }}_x" value="{{ roi[0] }}" size="8" placeholder="X Position">
                            <input type="text" id="roi_{{ loop.index }}_y" name="roi_{{ loop.index }}_y" value="{{ roi[1] }}" size="8" placeholder="Y Position">
                            <input type="text" id="roi_{{ loop.index }}_w" name="roi_{{ loop.index }}_w" value="{{ roi[2] }}" size="8" placeholder="Width">
                            <input type="text" id="roi_{{ loop.index }}_h" name="roi_{{ loop.index }}_h" value="{{ roi[3] }}" size="8" placeholder="Height"><br>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" id="add-roi">+</button>
                <button type="button" id="remove-roi">-</button><br>
                <br>
                <div id="gauge-roi-fields">
                <b>GAUGE AREA</b><br>
                {% for gaugeroi in gaugerois %}
                    <div id="gaugeroi_{{ loop.index }}">
                        <label for="gaugeroi_{{ loop.index }}">GAUGE AREA {{ loop.index }}:</label><br>
                        <input type="text" id="gaugeroi_{{ loop.index }}_x" name="gaugeroi_{{ loop.index }}_x" value="{{ gaugeroi[0] }}" size="8" placeholder="X Position">
                        <input type="text" id="gaugeroi_{{ loop.index }}_y" name="gaugeroi_{{ loop.index }}_y" value="{{ gaugeroi[1] }}" size="8" placeholder="Y Position">
                        <input type="text" id="gaugeroi_{{ loop.index }}_w" name="gaugeroi_{{ loop.index }}_w" value="{{ gaugeroi[2] }}" size="8" placeholder="Width">
                        <input type="text" id="gaugeroi_{{ loop.index }}_h" name="gaugeroi_{{ loop.index }}_h" value="{{ gaugeroi[3] }}" size="8" placeholder="Height"><br>
                    </div>
                {% endfor %}
                </div>
                <button type="button" id="add-gauge-roi">+</button>
                <button type="button" id="remove-gauge-roi">-</button><br><br>
                <input type="submit" value="UPDATE CONFIGS">
            </form>
           <form action="{{ url_for('take_new_picture_route') }}" method="post">
                <button type="submit">TAKE NEW PICTURE</button><br>
            </form>
            <form action="{{ url_for('draw_rois_route') }}" method="post">
                <button type="submit">UPDATE AREAS</button><br>
            </form>
        <form action="{{ url_for('read_image_route') }}" method="post">
            <button type="submit">READ DATA FROM AREAS</button><br>
        </form>
        <script>
            // NUMBER ROI'S
            var roiCount = {{ rois|length }};
            document.getElementById('add-roi').addEventListener('click', function() {
                roiCount++;
                var roiField = document.createElement('div');
                roiField.innerHTML = `
                    <label for="roi_${roiCount}">AREA ${roiCount}:</label><br>
                    <input type="text" id="roi_${roiCount}_x" name="roi_${roiCount}_x" size="8" placeholder="X Position">
                    <input type="text" id="roi_${roiCount}_y" name="roi_${roiCount}_y" size="8" placeholder="Y Position">
                    <input type="text" id="roi_${roiCount}_w" name="roi_${roiCount}_w" size="8" placeholder="Width">
                    <input type="text" id="roi_${roiCount}_h" name="roi_${roiCount}_h" size="8" placeholder="Height"><br>
                `;
                roiField.id = `roi_${roiCount}`;
                document.getElementById('roi-fields').appendChild(roiField);
            });

            document.getElementById('remove-roi').addEventListener('click', function() {
                if (roiCount > 0) {
                    var roiField = document.getElementById(`roi_${roiCount}`);
                    roiField.parentNode.removeChild(roiField);
                    roiCount--;
                }
            });
            // GAUGE ROIS
            var gaugeRoiCount = {{ gaugeRois|length }};
            document.getElementById('add-gauge-roi').addEventListener('click', function() {
                gaugeRoiCount++;
                var gaugeRoiField = document.createElement('div');
                gaugeRoiField.innerHTML = `
                    <label for="gaugeroi_${gaugeRoiCount}">GAUGE ${gaugeRoiCount}:</label><br>
                    <input type="text" id="gaugeroi_${gaugeRoiCount}_x" name="gaugeroi_${gaugeRoiCount}_x" size="8" placeholder="X Position">
                    <input type="text" id="gaugeroi_${gaugeRoiCount}_y" name="gaugeroi_${gaugeRoiCount}_y" size="8" placeholder="Y Position">
                    <input type="text" id="gaugeroi_${gaugeRoiCount}_w" name="gaugeroi_${gaugeRoiCount}_w" size="8" placeholder="Width">
                    <input type="text" id="gaugeroi_${gaugeRoiCount}_h" name="gaugeroi_${gaugeRoiCount}_h" size="8" placeholder="Height"><br>
                `;
                gaugeRoiField.id = `gaugeroi_${gaugeRoiCount}`;
                document.getElementById('gauge-roi-fields').appendChild(gaugeRoiField);
            });

            document.getElementById('remove-gauge-roi').addEventListener('click', function() {
                if (gaugeRoiCount > 0) {
                    var gaugeRoiField = document.getElementById(`gaugeroi${gaugeRoiCount}`);
                    gaugeRoiField.parentNode.removeChild(gaugeRoiField);
                    gaugeRoiCount--;
                }
            });
        </script>
    </div>
    <div class="image">
        <img src="{{ url_for('preview_image') }}" alt="Preview image"><br>
        <b>Sensor data: {{ sensor_data }}</b><br>
    </div>
</div>
