<!DOCTYPE html>
<body data-prerois="{{ prerois|length }}" data-pregaugerois="{{ pregaugerois|length }}" data-postrois="{{ postrois|length }}" data-postrois="{{ postgaugerois|length }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
<div class="container">
    <div class="controls">
            <fieldset>
                    <legend>Pre Decimal Areas [<b>00</b>.00]</legend>
                    <span class="material-symbols-outlined">pin</span>Numbers<br>
                    <a class="button-editor" href="{{ url_for('roi_editor_route', roi_id='preroi', roi_name='pre-roi-form') }}">
                        <button>OPEN EDITOR</button><br>
                    </a>
                    <span class="material-symbols-outlined">speed</span>Gauges<br>
                    <a class="button-editor" href="{{ url_for('roi_editor_route', roi_id='pregaugeroi', roi_name='pre-gauge-roi-form') }}">
                        <button>OPEN EDITOR</button><br>
                    </a>
            </fieldset>
            <fieldset>
                    <legend>Post decimal Areas [00.<b>00</b>]</legend>
                    Numbers<span class="material-symbols-outlined">pin</span><br>
                    <a class="button-editor" href="{{ url_for('roi_editor_route', roi_id='postroi', roi_name='post-roi-form') }}">
                        <button>OPEN EDITOR</button><br>
                    </a>
                        Gauges<span class="material-symbols-outlined">speed</span><br>
                        <a class="button-editor" href="{{ url_for('roi_editor_route', roi_id='postgaugeroi', roi_name='post-gauge-roi-form') }}">
                            <button>OPEN EDITOR</button><br>
                        </a>
            </fieldset>
            <fieldset>
               	    <legend>Picamera Configuration</legend>            
                    <form action="{{ url_for('update_config_route') }}" method="post" id="roi-form">
	            LED Enabled<br>
        	    <label for="picamera_led_enabled_true">Enabled</label>
	            <input type="radio" id="picamera_led_enabled_true" name="picamera_led_enabled" value="True" {% if picamera_led_enabled == True %}checked{% endif %}>
        	    <label for="picamera_led_enabled_false">Disabled</label>
	            <input type="radio" id="picamera_led_enabled_false" name="picamera_led_enabled" value="False" {% if picamera_led_enabled == False %}checked{% endif %}>
	            <br>
	            LED Brightness Configuration<br>
	            <label for="picamera_led_brightness">Brightness:</label>
	            <input type="range" id="picamera_led_brightness" name="picamera_led_brightness" min="0" max="1.0" value="{{ picamera_led_brightness }}" step="0.01"><br>
	            Value: <output id="picamera_led_brightness_value"></output>
        </fieldset>
        <fieldset>
            <legend>Picture Configuration</legend>
            Brightness Configuration<br>
            <label for="picamera_image_brightness">Brightness:</label>
            <input type="range" id="picamera_image_brightness" name="picamera_image_brightness" min="0" max="100" value="{{ picamera_image_brightness }}" step="1"><br>
            Value: <output id="picamera_image_brightness_value"></output><br>
            Contrast Configuration<br>
            <label for="picamera_image_contrast">Contrast:</label>
            <input type="range" id="picamera_image_contrast" name="picamera_image_contrast" min="0.5" max="3.0" value="{{ picamera_image_contrast }}" step="0.01"><br>
            Value: <output id="picamera_image_contrast_value"></output><br>
            Image Rotation<br>
            <label for="picamera_image_rotate">Angle:</label>
            <select name="picamera_image_rotate" id="picamera_image_rotate">
                <option value="0" {% if picamera_image_rotate == "0" %}selected="selected"{% endif %}>0</option>
                <option value="90" {% if picamera_image_rotate == "90" %}selected="selected"{% endif %}>90</option>
                <option value="180" {% if picamera_image_rotate == "180" %}selected="selected"{% endif %}>180</option>
                <option value="360" {% if picamera_image_rotate == "360" %}selected="selected"{% endif %}>360</option>
            </select><br><br>
        </fieldset>
        <fieldset>
            <legend>Background jobs runs interval (in minutes)</legend><br>
            <label for="watermeter_job_schedule">Schedule Time:</label>
            <input type="number" id="watermeter_job_schedule" name="watermeter_job_schedule" value="{{ watermeter_job_schedule }}" placeholder="Value in minutes"><br>
        </fieldset>
            <input type="submit" value="UPDATE CONFIGS">
            </form>
    </div>
    <div class="image">
        <img src="{{ url_for('preview_image') }}" alt="Preview image"><br>
        <b>Sensor data: {{ sensor_data }} m&#179;</b><br>
        <b>Picture timestamp: {{ capture_timestamp }}</b><br>
    </div>
</div>
<script src="{{url_for('static', filename='javascript/preview.js')}}"></script>
</body>
</html>
