<!DOCTYPE html>
<body data-prerois="{{ prerois|length }}" data-pregaugerois="{{ pregaugerois|length }}" data-postrois="{{ postrois|length }}" data-postrois="{{ postgaugerois|length }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100" rel="stylesheet" />
<div class="container">
    <div class="controls">
            <fieldset>
                    <legend>Pre Decimal Areas [<b>00</b>.00]</legend>
                    <span class="material-symbols-outlined">pin</span>Numbers<br>
                    <a class="preroi-button-editor" href="{{ url_for('roi_editor_route', roi_id='preroi', roi_name='pre-roi-form', roi_rgb_colors='preroi_rgb_colors') }}">
                        <button>OPEN EDITOR</button><br>
                    </a>
                    <span class="material-symbols-outlined">speed</span>Gauges<br>
                    <a class="pregaugeroi-button-editor" href="{{ url_for('roi_editor_route', roi_id='pregaugeroi', roi_name='pre-gauge-roi-form', roi_rgb_colors='pregaugeroi_rgb_colors') }}">
                        <button>OPEN EDITOR</button><br>
                    </a>
            </fieldset>
            <fieldset>
                    <legend>Post decimal Areas [00.<b>00</b>]</legend>
                    <span class="material-symbols-outlined">pin</span>Numbers<br>
                    <a class="postroi-button-editor" href="{{ url_for('roi_editor_route', roi_id='postroi', roi_name='post-roi-form', roi_rgb_colors='postroi_rgb_colors') }}">
                        <button>OPEN EDITOR</button><br>
                    </a>
                        <span class="material-symbols-outlined">speed</span>Gauges<br>
                        <a class="postgaugeroi-button-editor" href="{{ url_for('roi_editor_route', roi_id='postgaugeroi', roi_name='post-gauge-roi-form', roi_rgb_colors='postgaugeroi_rgb_colors') }}">
                            <button>OPEN EDITOR</button><br>
                        </a>
            </fieldset>
            <fieldset>
               	    <legend>Picamera Configuration</legend>            
                    <form action="{{ url_for('update_config_route') }}" method="post" id="roi-form">
	            LED Enabled<br>
        	    <label for="picamera_led_enabled_true">Enabled</label>
	            <input type="radio" id="picamera_led_enabled_true" name="picamera_led_enabled" value="True" {% if picamera_led_enabled == True %}checked{% endif %}>
        	    <label for="picamera_led_enabled_false">Disabled</label>
	            <input type="radio" id="picamera_led_enabled_false" name="picamera_led_enabled" value="False" {% if picamera_led_enabled == False %}checked{% endif %}>
	            <br>
	            LED Brightness Configuration<br>
	            <label for="picamera_led_brightness">Brightness:</label>
	            <input type="range" id="picamera_led_brightness" name="picamera_led_brightness" min="0" max="1.0" value="{{ picamera_led_brightness }}" step="0.01"><br>
	            Value: <output id="picamera_led_brightness_value"></output>
        </fieldset>
        <fieldset>
            <legend>Picture Configuration</legend>
            <label for="picamera_photo_width">Picture Width:</label>
            <input type="number" id="picamera_photo_width" name="picamera_photo_width" value="{{ picamera_photo_width }}" placeholder="Width"><br>
            <label for="picamera_photo_height">Picture Height:</label>
            <input type="number" id="picamera_photo_height" name="picamera_photo_height" value="{{ picamera_photo_height }}" placeholder="Height"><br>
            <label for="picamera_buffer_count">Buffer Count:</label>
            <input type="number" id="picamera_buffer_count" name="picamera_buffer_count" value="{{ picamera_buffer_count }}" placeholder="Buffer Count"><br>
            Brightness Configuration<br>
            <label for="picamera_image_brightness">Brightness:</label>
            <input type="range" id="picamera_image_brightness" name="picamera_image_brightness" min="-1.0" max="1.0" value="{{ picamera_image_brightness }}" step="0.1"><br>
            Value: <output id="picamera_image_brightness_value"></output><br>
            Contrast Configuration<br>
            <label for="picamera_image_contrast">Contrast:</label>
            <input type="range" id="picamera_image_contrast" name="picamera_image_contrast" min="0.0" max="32.0" value="{{ picamera_image_contrast }}" step="0.1"><br>
            Value: <output id="picamera_image_contrast_value"></output><br>
            Sharpness Configuration<br>
            <label for="picamera_image_sharpness">Sharpness:</label>
            <input type="range" id="picamera_image_sharpness" name="picamera_image_sharpness" min="0.0" max="16.0" value="{{ picamera_image_sharpness }}" step="0.1"><br>
            Value: <output id="picamera_image_sharpness_value"></output><br>
            Manual Focus Enabled<br>
            <label for="picamera_image_focus_manual_enabled_true">Enabled</label>
            <input type="radio" id="picamera_image_focus_manual_enabled_true" name="picamera_image_focus_manual_enabled" value="True" {% if picamera_image_focus_manual_enabled == True %}checked{% endif %}>
            <label for="picamera_image_focus_manual_enabled_false">Disabled</label>
            <input type="radio" id="picamera_image_focus_manual_enabled_false" name="picamera_image_focus_manual_enabled" value="False" {% if picamera_image_focus_manual_enabled == False %}checked{% endif %}>
            <br>
            Focus Position Configuration<br>
            <label for="picamera_image_focus_position">Focus (0=infifity, 3=nearest):</label>
            <input type="range" id="picamera_image_focus_position" name="picamera_image_focus_position" min="0" max="3" value="{{ picamera_image_focus_position }}" step="0.1"><br>
            Value: <output id="picamera_image_focus_position_value"></output><br>
            Image Rotation<br>
            <label for="picamera_image_rotate">Angle:</label>
            <select name="picamera_image_rotate" id="picamera_image_rotate">
                <option value="90" {% if picamera_image_rotate == "90" %}selected="selected"{% endif %}>90</option>
                <option value="180" {% if picamera_image_rotate == "180" %}selected="selected"{% endif %}>180</option>
                <option value="270" {% if picamera_image_rotate == "270" %}selected="selected"{% endif %}>270</option>
            </select><br>
            Image Noise Reduction Mode<br>
            <label for="picamera_image_denoise_mode">Angle:</label>
            <select name="picamera_image_denoise_mode" id="picamera_image_denoise_mode">
                <option value="Off" {% if picamera_image_denoise_mode == "Off" %}selected="selected"{% endif %}>Off</option>
                <option value="Fast" {% if picamera_image_denoise_mode == "Fast" %}selected="selected"{% endif %}>Fast</option>
                <option value="HighQuality" {% if picamera_image_denoise_mode == "HighQuality" %}selected="selected"{% endif %}>HighQuality</option>
            </select><br><br>
        </fieldset>
        <fieldset>
            <legend>Background jobs runs interval (in minutes)</legend>
            <label for="watermeter_job_schedule">Schedule Time:</label>
            <input type="number" id="watermeter_job_schedule" name="watermeter_job_schedule" value="{{ watermeter_job_schedule }}" placeholder="Value in minutes"><br>
        </fieldset>
        <fieldset>
            <legend>Tesseract Configurations</legend>
            OCR Engine modes<br>
            <label for="tesseract_oem">Mode:</label>
            <select name="tesseract_oem" id="tesseract_oem">
                <option value="0" {% if tesseract_oem == 0 %}selected="selected"{% endif %}>0: Legacy engine only.</option>
                <option value="1" {% if tesseract_oem == 1 %}selected="selected"{% endif %}>1: Neural nets LSTM engine only.</option>
                <option value="2" {% if tesseract_oem == 2 %}selected="selected"{% endif %}>2: Legacy + LSTM engines.</option>
                <option value="3" {% if tesseract_oem == 3 %}selected="selected"{% endif %}>3: Default, based on what is available.</option>
            </select><br>
            OCR Page Segmentation modes<br>
            <label for="tesseract_psm">Mode:</label>
            <select name="tesseract_psm" id="tesseract_psm">
                <option value="0" {% if tesseract_psm == 0 %}selected="selected"{% endif %}>0: Orientation and script detection (OSD) only.</option>
                <option value="1" {% if tesseract_psm == 1 %}selected="selected"{% endif %}>1: Automatic page segmentation with OSD.</option>
                <option value="2" {% if tesseract_psm == 2 %}selected="selected"{% endif %}>2: Automatic page segmentation, but no OSD, or OCR.</option>
                <option value="3" {% if tesseract_psm == 3 %}selected="selected"{% endif %}>3: Fully automatic page segmentation, but no OSD. (Default)</option>
                <option value="4" {% if tesseract_psm == 4 %}selected="selected"{% endif %}>4: Assume a single column of text of variable sizes.</option>
                <option value="5" {% if tesseract_psm == 5 %}selected="selected"{% endif %}>5: Assume a single uniform block of vertically aligned text.</option>
                <option value="6" {% if tesseract_psm == 6 %}selected="selected"{% endif %}>6: Assume a single uniform block of text.</option>
                <option value="7" {% if tesseract_psm == 7 %}selected="selected"{% endif %}>7: Treat the image as a single text line.</option>
                <option value="8" {% if tesseract_psm == 8 %}selected="selected"{% endif %}>8: Treat the image as a single word.</option>
                <option value="9" {% if tesseract_psm == 9 %}selected="selected"{% endif %}>9: Treat the image as a single word in a circle.</option>
                <option value="10" {% if tesseract_psm == 10 %}selected="selected"{% endif %}>10: Treat the image as a single character.</option>
                <option value="11" {% if tesseract_psm == 11 %}selected="selected"{% endif %}>11: Sparse text. Find as much text as possible in no particular order.</option>
                <option value="12" {% if tesseract_psm == 12 %}selected="selected"{% endif %}>12: Sparse text with OSD.</option>
                <option value="13" {% if tesseract_psm == 13 %}selected="selected"{% endif %}>13: Raw line. Treat the image as a single text line, bypassing hacks that are Tesseract-specific.</option>
        </fieldset>
            <input type="submit" value="UPDATE CONFIGS">
            </form>
            <form action="{{ url_for('read_image_route_post') }}" method="post">
                <input type="submit" value="READ ROIS">
            </form>
    </div>
    <div class="image">
        <img src="{{ url_for('preview_image') }}" alt="Preview image"><br>
        <b>Sensor data: {{ sensor_data }} m&#179;</b><br>
        <b>Picture timestamp: {{ capture_timestamp }}</b><br>
    </div>
</div>
<script src="{{url_for('static', filename='javascript/preview.js')}}"></script>
</body>
</html>
