<body data-prerois="{{ prerois|length }}" data-pregaugerois="{{ pregaugerois|length }}" data-postrois="{{ postrois|length }}" data-postrois="{{ postgaugerois|length }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<div class="container">
    <div class="controls">
            <form action="{{ url_for('update_config_route') }}" method="post" id="roi-form">
                <h3>PRE DECIMAL NUMBER AREAS</h3>
                <div id="pre-roi-fields">
                <b>NUMBERS</b><br>
                    {% for preroi in prerois %}
                        <div id="preroi_{{ loop.index }}">
                            <label for="preroi_{{ loop.index }}">NUMBER {{ loop.index }}:</label><br>
                            <input type="text" id="preroi_{{ loop.index }}_x" name="preroi_{{ loop.index }}_x" value="{{ preroi[0] }}" size="8" placeholder="X Position">
                            <input type="text" id="preroi_{{ loop.index }}_y" name="preroi_{{ loop.index }}_y" value="{{ preroi[1] }}" size="8" placeholder="Y Position">
                            <input type="text" id="preroi_{{ loop.index }}_w" name="preroi_{{ loop.index }}_w" value="{{ preroi[2] }}" size="8" placeholder="Width">
                            <input type="text" id="preroi_{{ loop.index }}_h" name="preroi_{{ loop.index }}_h" value="{{ preroi[3] }}" size="8" placeholder="Height"><br>
                        </div>
                    {% endfor %}
                </div>
                <button type="button" id="add-pre-roi">+</button>
                <button type="button" id="remove-pre-roi">-</button><br>
                <br>
                <div id="pre-gauge-roi-fields">
                <b>GAUGES</b><br>
                {% for pregaugeroi in pregaugerois %}
                    <div id="pregaugeroi_{{ loop.index }}">
                        <label for="pregaugeroi_{{ loop.index }}">GAUGE {{ loop.index }}:</label><br>
                        <input type="text" id="pregaugeroi_{{ loop.index }}_x" name="pregaugeroi_{{ loop.index }}_x" value="{{ pregaugeroi[0] }}" size="8" placeholder="X Position">
                        <input type="text" id="pregaugeroi_{{ loop.index }}_y" name="pregaugeroi_{{ loop.index }}_y" value="{{ pregaugeroi[1] }}" size="8" placeholder="Y Position">
                        <input type="text" id="pregaugeroi_{{ loop.index }}_w" name="pregaugeroi_{{ loop.index }}_w" value="{{ pregaugeroi[2] }}" size="8" placeholder="Width">
                        <input type="text" id="pregaugeroi_{{ loop.index }}_h" name="pregaugeroi_{{ loop.index }}_h" value="{{ pregaugeroi[3] }}" size="8" placeholder="Height"><br>
                    </div>
                {% endfor %}
                </div>
                <button type="button" id="add-pre-gauge-roi">+</button>
                <button type="button" id="remove-pre-gauge-roi">-</button><br>
                <h3>POST DECIMAL NUMBER AREAS</h3>
                <div id="post-roi-fields">
                    <b>NUMBERS</b><br>
                        {% for postroi in postrois %}
                            <div id="postroi_{{ loop.index }}">
                                <label for="postroi_{{ loop.index }}">NUMBER {{ loop.index }}:</label><br>
                                <input type="text" id="postroi_{{ loop.index }}_x" name="postroi_{{ loop.index }}_x" value="{{ postroi[0] }}" size="8" placeholder="X Position">
                                <input type="text" id="postroi_{{ loop.index }}_y" name="postroi_{{ loop.index }}_y" value="{{ postroi[1] }}" size="8" placeholder="Y Position">
                                <input type="text" id="postroi_{{ loop.index }}_w" name="postroi_{{ loop.index }}_w" value="{{ postroi[2] }}" size="8" placeholder="Width">
                                <input type="text" id="postroi_{{ loop.index }}_h" name="postroi_{{ loop.index }}_h" value="{{ postroi[3] }}" size="8" placeholder="Height"><br>
                            </div>
                        {% endfor %}
                    </div>
                    <button type="button" id="add-post-roi">+</button>
                    <button type="button" id="remove-post-roi">-</button><br>
                    <br>
                    <div id="post-gauge-roi-fields">
                    <b>GAUGES</b><br>
                    {% for postgaugeroi in postgaugerois %}
                        <div id="postgaugeroi_{{ loop.index }}">
                            <label for="postgaugeroi_{{ loop.index }}">GAUGE {{ loop.index }}:</label><br>
                            <input type="text" id="postgaugeroi_{{ loop.index }}_x" name="postgaugeroi_{{ loop.index }}_x" value="{{ postgaugeroi[0] }}" size="8" placeholder="X Position">
                            <input type="text" id="postgaugeroi_{{ loop.index }}_y" name="postgaugeroi_{{ loop.index }}_y" value="{{ postgaugeroi[1] }}" size="8" placeholder="Y Position">
                            <input type="text" id="postgaugeroi_{{ loop.index }}_w" name="postgaugeroi_{{ loop.index }}_w" value="{{ postgaugeroi[2] }}" size="8" placeholder="Width">
                            <input type="text" id="postgaugeroi_{{ loop.index }}_h" name="postgaugeroi_{{ loop.index }}_h" value="{{ postgaugeroi[3] }}" size="8" placeholder="Height"><br>
                        </div>
                    {% endfor %}
                    </div>
                <button type="button" id="add-post-gauge-roi">+</button>
                <button type="button" id="remove-post-gauge-roi">-</button><br>
                <h3>PiCamera LED Configuration</h3><br>
                <label for="picamera_led_enabled_true">Enabled</label>
                <input type="radio" id="picamera_led_enabled_true" name="picamera_led_enabled" value="True" {% if picamera_led_enabled %}checked{% endif %}>
                <label for="picameraled_enabled_false">Disabled</label>
                <input type="radio" id="picamera_led_enabled_false" name="picamera_led_enabled" value="False" {% if not picamera_led_enabled %}checked{% endif %}>
                <br><br>
                <b>LED Brightness Configuration</b><br>
                <label for="picamera_led_brightness">Brightness:</label>
                <input type="range" id="picamera_led_brightness" name="picamera_led_brightness" min="0" max="1.0" value="{{ picamera_led_brightness }}" step="0.01"><br>
                Value: <output id="picamera_led_brightness_value"></output><br>
                <h2>Picture Configuration</h2>
                <b>Picture Brightness Configuration</b><br>
                <label for="picamera_image_brightness">Brightness:</label>
                <input type="range" id="picamera_image_brightness" name="picamera_image_brightness" min="0" max="2.0" value="{{ picamera_image_brightness }}" step="0.01"><br>
                Value: <output id="picamera_image_brightness_value"></output><br>
                <b>Picture Contrast Configuration</b><br>
                <label for="picamera_image_contrast">Contrast:</label>
                <input type="range" id="picamera_image_contrast" name="picamera_image_contrast" min="0" max="2.0" value="{{ picamera_image_contrast }}" step="0.01"><br>
                Value: <output id="picamera_image_contrast_value"></output><br>
                <b>Picture Image Rotation</b><br>
                <label for="picamera_image_rotate">Angle:</label>
                <select name="picamera_image_rotate" id="picamera_image_rotate">
                  <option value="0" {% if picamera_image_rotate == "0" %}selected="selected"{% endif %}>0</option>
                  <option value="90" {% if picamera_image_rotate == "90" %}selected="selected"{% endif %}>90</option>
                  <option value="180" {% if picamera_image_rotate == "180" %}selected="selected"{% endif %}>180</option>
                  <option value="360" {% if picamera_image_rotate == "360" %}selected="selected"{% endif %}>360</option>
                </select><br><br>
                <b>Background jobs runs interval (in minutes)</b><br><br>
                <label for="watermeter_job_schedule">Schedule Time:</label>
                <input type="number" id="watermeter_job_schedule" name="watermeter_job_schedule" value="{{ watermeter_job_schedule }}" placeholder="Value in minutes"><br>
                <br>
                <br>
                <input type="submit" value="UPDATE CONFIGS">
            </form>
    </div>
    <div class="image">
        <img src="{{ url_for('preview_image') }}" alt="Preview image"><br>
        <b>Sensor data: {{ sensor_data }}</b><br>
        <b>Picture timestamp: {{ capture_timestamp }}</b><br>
    </div>
</div>
<script src="{{url_for('static', filename='javascript/preview.js')}}"></script>
</body>
