<!DOCTYPE html>
<html>
<head>
    <title>Draw ROIs</title>
    <style>
        #canvas {
            border: 1px solid black;
            cursor: crosshair;
            background: url('/preview/image');
            background-size: cover;
        }
    </style>
</head>
<body>
    <canvas id="canvas" width="{{ picamera_photo_width }}" height="{{ picamera_photo_height }}"></canvas>
    <form id="{{ roi_name }}" action="{{ url_for('submit_rois_route') }}" method="post">
        <input type="hidden" id="{{ roi_id }}" name="{{ roi_id }}">
        <button type="submit">Submit ROIs</button>
    </form>
    {% from 'flask' import url_for %}
    <script src="{{url_for('static', filename='javascript/roi_editor.js', roi_id=roi_id, roi_name=roi_name)}}"></script>
</body>
</html>
